.profile_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_card {
  width: 400px;
}

@media screen and (max-width: 400px) {
  .profile_card {
    width: 100%;
    min-width: 100%;
  }
}
